h1= pageTitle

h2 Felix's Node.js Guide
p
    Это перевод руководств, опубликованных Felix Geisendörfer. Включает
    руководство для новичков, руководство по стилю кода, информацию о 
    сообществе node.js и прочее.
ul
    li
        a(href='/guide/felix/beginner/') Node.js Beginner Guide 
         &#47;
        a(href='http://nodeguide.com/beginner.html') Оригинал
    li Node.js Style Guide
    li Node.js Community Guide
    li Node.js Convincing The Boss Guide
